name: Build and Publish Parcel Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build -t parcel_service:latest -f parcel_service/Dockerfile.

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image to GitHub Container Registry
        run: |
          docker tag parcel_service:latest ghcr.io/${{ github.repository }}/parcel_service:latest
          docker push ghcr.io/${{ github.repository }}/parcel_service:latest
